$colors: (
    "block1": #195C61,
    "text-default": #abccc8,
    "background": #203B46,
    "accent2": #DCF2B0,
    "accent1": #F39B53,
    "accent3": #f4a261,

    /*"redorange": #e76f51,
    "slategray": #1E555C,
    "mediumgreen": #2a9d8f,*/
    /*"block1": #626D58,
    "text-default": #DEE4C9,
    "background": #544343,
    "accent2": #F7D08A,
    "accent1": #F5A65B,*/

    /*"block1": #275054,
    "text-default": #C6D8D3,
    "background": #1A3538,
    "accent2": #F4A261,
    "accent1": #F4A261,*/
    /*
    "block1": #83C3B5,
    "text-default": #345a5e,
    "background": #68b8a7,
    "accent2": #655560,
    "accent1": #5d445d,
    "accent3": #655560*/
);

$font-sizes: (
    "small": 7px,
    "medium": 10px,
);

$breakpoints: (
    "small": 576px,
    "medium": 768px,
    "large": 992px,
    "xtra-large": 1200px,
);

$spacing: (
    "project-margin": 7px,
);