$colors: (
    "darkgreen": #286b74,
    "slategray": #1E555C,
    "default-text": #abccc8,
    "background": #264653,
    "mediumgreen": #2a9d8f,
    "yellow": #e9c46a,
    "orange": #f4a261,
    "redorange": #e76f51,
);

$font-sizes: (
    "small": 7px,
    "medium": 10px,
);

$breakpoints: (
    "small": 576px,
    "medium": 768px,
    "large": 992px,
    "xtra-large": 1200px,
);

$spacing: (
    "project-margin": 7px,
);